<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

        <table>
            <thead>
                <tr>
                    <th>SR. no.</th>
                    <th>name</th>
                    <th>book name</th>
                    <th>author</th>
                    <th>published year</th> 
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < books.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <td>
                            <% if (books[i].users && books[i].users.length > 0) { %>
                                <% for (var j = 0; j < books[i].users.length; j++) { %>
                                    <%= books[i].users[j].name %>
                                    <% if (j < books[i].users.length - 1) { %>, <% } %>
                                <% } %>
                            <% } else { %>
                                No users
                            <% } %>
                        
                            
                               
                            
                        
                        </td>
                        <td>
                            <%= books[i].name %>
                        </td>
                        <td>
                            <%= books[i].author %>
                        </td>
                        <td>
                            <%= books[i].published %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
</body>
</html>